<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-login">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .card form {
                padding: 10%;
            }
            .card h1 {
                text-align: center;
            }
        </style>

        <iron-ajax
        id="loginCompany"
        url="http://localhost:3000/api/v1/login"
        content-type="application/json"
        handle-as="json"
        method="post"
        body='[[bodyLogin]]'
        on-response="_onLoginResponse"
        last-response="{{data}}">
        </iron-ajax>

        <div class="card" style="margin: 0% 30% 0% 30%;">
            <h1>Iniciar Sesión</h1>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Referencia" value="{{referencia::input}}" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" value="{{usuario::input}}" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" value="{{password::input}}" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 form-group">
                        <button type="button" class="btn btn-primary btn-block" on-click="_login">Ingresar</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 form-group">
                        <a href="#" class="btn-block" style="text-align: center;">¿Se te olvidó tu contraseña?</a>
                    </div>
                </div>
            </form>
        </div>

    </template>

    <script>
        class MyLogin extends Polymer.Element {
            static get is() { return 'my-login'; }
            static get properties() {
                return {
                    clientes: {
                        type: Array,
                        notify: true
                    },
                    referencia: {
                        type: String,
                        notify: true
                    },
                    usuario: {
                        type: String,
                        observer: 'toUpper'
                    },
                    password: {
                        type: String
                    },
                    bodyLogin: {
                        type: Object,
                        notify: true,
                        value: {}
                    }
                };
            }

            _login(event) {
                this.bodyLogin = {
                    referencia: this.referencia,
                    username: this.usuario,
                    password: this.password
                };
                this.$.loginCompany.generateRequest();
            }

            _onLoginResponse(data) {
                console.log(data.detail.response);

                // Guardar en sessionStorage el token recibido
                sessionStorage.setItem("token", data.detail.response.token);
                sessionStorage.setItem("esUsuariosSolidario", data.detail.response.esUsuariosSolidario);

                // llamar al escuchador de login exitoso del elemento padre
                this.dispatchEvent(new CustomEvent('eventSuccessLogin'));
            }

            toUpper(val) {
                this.usuario = val.toUpperCase();
            }
        }
        window.customElements.define(MyLogin.is, MyLogin);
    </script>
</dom-module>