<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/posicion-global/listado-movimientos.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="listado-cuentas">
    <template>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
			.card h1 {
				text-align: center;
			}

			.card label {
				color: #212529;
			}
            .card {
                cursor: pointer;
            }
        </style>
        
        <iron-ajax auto
        id="obtenerListadoCuentas"
        url="http://localhost:3000/api/secure/v1/listadoCuentas"
        content-type="application/json"
        headers='[[headers]]'
        handle-as="json"
        method="get"
        on-response="_successListadoCuentas"
        last-response="{{data}}">
        </iron-ajax>

        <template is="dom-repeat" items="{{listadoCuentas}}" index-as="index">
            <div class="card" on-click="_showMovements" data-item$="[[item.numero]]">
                <div class="card-header text-white bg-info">
                    <div class="row">
                        <div class="col-3" style="text-align: center;"><strong>Número</strong></div>
                        <div class="col-3" style="text-align: center;"><strong>Tipo</strong></div>
                        <div class="col" style="text-align: center;"><strong>Saldo Contable</strong></div>
                        <div class="col" style="text-align: center;"><strong>Saldo Disponible</strong></div>
                        <div class="col" style="text-align: center;"><strong>Moneda</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="text-align: center;">[[item.numero]]</div>
                        <div class="col-3" style="text-align: center;">[[item.tipoCuenta]]</div>
                        <div class="col" style="text-align: center;">[[item.saldoContable]]</div>
                        <div class="col" style="text-align: center;">[[item.saldoDisponible]]</div>
                        <div class="col" style="text-align: center;">[[item.divisa]]</div>
                    </div>
                </div>
                <div class="card-body" id="movements-list" style="display: none;">

                </div>
            </div>
            <br>
        </template>
    </template>

    <script>
        class ListadoCuentas extends Polymer.Element {
            static get is() {
                return 'listado-cuentas';
            }

            static get properties() {
                return {
                    listadoCuentas: {
                        type: Array,
                        notify: true
                    },
                    headers: {
                        type: Object,
                        value: {"authorization": "Bearer " + sessionStorage.getItem("token")}
                    }
                };
            }

            _successListadoCuentas(data) {
                this.listadoCuentas = data.detail.response;
            }

            _showMovements(event) {
                const numeroCuenta = event.currentTarget.dataset.item;
                var detalleCuentaElement = document.createElement('listado-movimientos');
                detalleCuentaElement.setAttribute("numerocuenta", numeroCuenta); // El atributo tiene que ser en minuscula sino no funciona
                var movementsList = event.currentTarget.querySelector("#movements-list");
                movementsList.style.display = "block";
                movementsList.innerHTML = "";
                movementsList.appendChild(detalleCuentaElement);
            }
        }
        window.customElements.define(ListadoCuentas.is, ListadoCuentas);
    </script>
</dom-module>
