<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="listado-movimientos">
    <template>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <iron-ajax auto
        id="obtenerListadoMovimientos"
        url="http://localhost:3000/api/secure/v1/listadoMovimientos/[[numerocuenta]]"
        content-type="application/json"
        headers='[[headers]]'
        handle-as="json"
        method="get"
        on-response="_successListadoMovimientos"
        last-response="{{data}}">
        </iron-ajax>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><strong>Descripción</strong></th>
                    <th scope="col"><strong>Monto</strong></th>
                    <th scope="col"><strong>Moneda</strong></th>
                    <th scope="col"><strong>Fecha</strong></th>
                    <th scope="col"><strong>Comentarios</strong></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{listadoMovimientos}}" index-as="index">
                    <tr>
                        <td>[[item.descripcion]]</td>
                        <td>[[item.monto]]</td>
                        <td>[[item.divisaMovimiento]]</td>
                        <td>[[item.fecha]]</td>
                        <td>[[item.comentarios]]</td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <tr class="thead-dark">
                    <th scope="col"><strong>Descripción</strong></th>
                    <th scope="col"><strong>Monto</strong></th>
                    <th scope="col"><strong>Moneda</strong></th>
                    <th scope="col"><strong>Fecha</strong></th>
                    <th scope="col"><strong>Comentarios</strong></th>
                </tr>
            </tfoot>
        </table>
    </template>

    <script>
        class ListadoMovimientos extends Polymer.Element {
            static get is() { return 'listado-movimientos'; }
            static get properties() {
                return {
                    clientes: {
                        type: Array,
                        notify: true
                    },
                    numerocuenta: {
                        type: String
                    },
                    headers: {
                        type: Object,
                        value: {"authorization": "Bearer " + sessionStorage.getItem("token")}
                    },
                    listadoMovimientos: {
                        type: Array,
                        notify: true
                    },
                };
            }

            _successListadoMovimientos(data) {
                this.listadoMovimientos = data.detail.response;
                console.log(this.listadoMovimientos);
            }
        }
        window.customElements.define(ListadoMovimientos.is, ListadoMovimientos);
    </script>
</dom-module>
