
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="login/my-login.html">
<link rel="lazy-import" href="my-posicion-global.html">
<link rel="lazy-import" href="my-transferencias-propias.html">
<link rel="lazy-import" href="my-transferencias-terceros.html">
<link rel="lazy-import" href="my-transferencias-interbancarias.html">
<link rel="lazy-import" href="my-gestion-usuarios.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
	<template>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
			:host {
				--app-primary-color: #4285f4;
				--app-secondary-color: black;

				display: block;
			}

			app-drawer-layout:not([narrow]) [drawer-toggle] {
				display: none;
			}

			app-header {
				color: #fff;
				background-color: var(--app-primary-color);
			}

			app-header paper-icon-button {
				--paper-icon-button-ink-color: white;
			}
		</style>

		<app-location route="{{route}}" url-space-regex="^[[rootPath]]">
		</app-location>

		<app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
		</app-route>

		<app-drawer-layout fullbleed narrow="{{narrow}}">
			<!-- Drawer content -->
			<app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
				<app-toolbar>Menú</app-toolbar>
				<iron-selector selected="[[page]]" attr-for-selected="name" class="nav nav-pills flex-column"
					role="navigation">
					<a name="posicion-global" href="[[rootPath]]posicion-global" class="nav-item nav-link">Posición Global</a>
					<a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">TRANSFERENCIAS</a>
					<a name="transferencias-propias" href="[[rootPath]]transferencias-propias" class="nav-item nav-link">Propias</a>
					<a name="transferencias-terceros" href="[[rootPath]]transferencias-terceros" class="nav-item nav-link">Terceros</a>
					<a name="transferencias-interbancarias" href="[[rootPath]]transferencias-interbancarias" class="nav-item nav-link">Interbancarias</a>
					<a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true" hidden$="{{!esUsuariosSolidario}}">ADMINISTRACIÓN</a>
					<a name="gestion-usuarios" href="[[rootPath]]gestion-usuarios" class="nav-item nav-link" hidden$="{{!esUsuariosSolidario}}">Gestión Usuarios</a>
					<a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true" ></a>
					<a name="login" href="[[rootPath]]login" class="nav-link">Login</a>
				</iron-selector>
			</app-drawer>

			<!-- Main content -->
			<app-header-layout has-scrolling-region>

				<app-header slot="header" condenses reveals effects="waterfall">
					<app-toolbar>
						<paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
						<div main-title>BBVA Net Cash</div>
						<button type="button" class="btn btn-danger" on-click="_logout">Salir</button>
					</app-toolbar>
				</app-header>

				<iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
					<my-login name="login"></my-login>
					<my-posicion-global name="posicion-global"></my-posicion-global>
					<my-transferencias-propias name="transferencias-propias"></my-transferencias-propias>
					<my-transferencias-terceros name="transferencias-terceros"></my-transferencias-terceros>
					<my-transferencias-interbancarias name="transferencias-interbancarias"></my-transferencias-interbancarias>
					<my-gestion-usuarios name="gestion-usuarios"></my-gestion-usuarios>
					<my-view404 name="view404"></my-view404>
				</iron-pages>
			</app-header-layout>
		</app-drawer-layout>
	</template>

	<script>
		// Gesture events like tap and track generated from touch will not be
		// preventable, allowing for better scrolling performance.
		Polymer.setPassiveTouchGestures(true);

		class MyApp extends Polymer.Element {
			static get is() { return 'my-app'; }

			static get properties() {
				return {
					page: {
						type: String,
						reflectToAttribute: true,
						observer: '_pageChanged',
					},
					routeData: Object,
					subroute: Object,
					// This shouldn't be neccessary, but the Analyzer isn't picking up
					// Polymer.Element#rootPath
					rootPath: String,
					previousItem: Object,
					esUsuariosSolidario: {
						type: Boolean,
						value: false
					}
				};
			}

			static get observers() {
				return [
					'_routePageChanged(routeData.page)',
				];
			}

			_routePageChanged(page) {
				// If no page was found in the route data, page will be an empty string.
				// Default to 'posicion-global' in that case.
				this.page = page || 'posicion-global';

				// Close a non-persistent drawer when the page & route are changed.
				if (!this.$.drawer.persistent) {
					this.$.drawer.close();
				}

				this._updateSelectItem();
			}

			_pageChanged(page) {
				// Load page import on demand. Show 404 page if fails
				var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
				if ('login' == page) {
					resolvedPageUrl = this.resolveUrl('login/my-login.html');
				} else if (!sessionStorage.getItem("token")) {
					// Si no hay token de session redirigimos al login
					this.set('routeData.page', 'login');
					return;
				}
				console.log(resolvedPageUrl);
				Polymer.importHref(
					resolvedPageUrl,
					null,
					this._showPage404.bind(this),
					true);
			}

			_updateSelectItem() {
				var items = this.shadowRoot.querySelectorAll(".nav-item");
				items.forEach(element => {
					element.classList.remove("active");
				});
				if ('login' != this.page) {
					// pintamos el menu seleccionado menos el del login
					this.shadowRoot.querySelector(".nav-item[name='" + this.page + "']").classList.add("active");
				}
			}

			_showPage404() {
				this.page = 'view404';
			}

			_logout() {
				// Limpiamos todo el sessionStorage y redirigimos al login nuevamente
				sessionStorage.clear();
				this.set('routeData.page', 'login');
				this.esUsuariosSolidario = false;
			}

			_onLoginSuccess() {
				// redirigimos a la posicion global donde estan todas las cuentas
				this.set('routeData.page', 'posicion-global');

				// Si es usuario de tipo Solidario mostramos la gestion de usuarios
				if (undefined != sessionStorage.getItem('esUsuariosSolidario')) {
					this.esUsuariosSolidario = JSON.parse(sessionStorage.getItem('esUsuariosSolidario'));
				}
			}

			ready() {
				super.ready();

				// actualizamos el menu seleccionado
				this._updateSelectItem();

				// Agregamos un escuchador para el componente 'my-login', se llamara cuando el login sea exitoso(ver my-login.html)
				this.shadowRoot.querySelector('my-login').addEventListener('eventSuccessLogin', this._onLoginSuccess.bind(this));

				if (undefined != sessionStorage.getItem('esUsuariosSolidario')) {
					this.esUsuariosSolidario = JSON.parse(sessionStorage.getItem('esUsuariosSolidario'));
				}
			}
		}

		window.customElements.define(MyApp.is, MyApp);
	</script>
</dom-module>