<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-gestion-usuarios">
	<template>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style include="shared-styles">
			:host {
				display: block;

				padding: 10px;
			}
		</style>
		<style>
			.card h1 {
				text-align: center;
			}

			.card label {
				color: #212529;
			}
        </style>

        <iron-ajax
        id="buscarUsuario"
        url="http://localhost:3000/api/secure/v1/usuarios/[[codigousuario]]"
        content-type="application/json"
        headers='[[headers]]'
        handle-as="json"
        method="get"
        on-response="_onSuccessSearch"
        last-response="{{dataSearch}}">
        </iron-ajax>
        
        <iron-ajax
        id="actualizarUsuario"
        url="http://localhost:3000/api/secure/v1/usuarios/[[usuarioSeleccionado]]"
        content-type="application/json"
        headers='[[headers]]'
        handle-as="json"
		method="put"
		body="[[bodyUser]]"
        on-response="_successUpdate"
        last-response="{{dataUpdate}}">
        </iron-ajax>

		<div class="card">
			<h1>Gestión de usuarios</h1>
			<form>
				<div class="row">
					<div class="col-8">
						<div class="form-group">
							<label for="idCodigoUsuario">Código de Usuario</label>
							<input type="text" class="form-control" placeholder="Código de Usuario" id="idCodigoUsuario" value="{{codigousuario::input}}" />
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
                            <label>&nbsp;</label>
                            <div class="form-label">
                                <button type="button" class="btn btn-primary btn-block" on-click="_searchUser">Buscar</button>
                            </div>
						</div>
					</div>
				</div>
                
                <div class="form-group">
					<label for="idTipoUsuario">Tipo de Usuario</label>
                    <select class="form-control" id="idTipoUsuario" value="{{tipoUsuarioSeleccionado::change}}">
						<option>-- Seleccione un Tipo de Usuario --</option>
						<option value="solidario">Solidario</option>
						<option value="manco2">Mancomunado 2</option>
						<option value="manco3">Mancomunado 3</option>
						<option value="manco4">Mancomunado 4</option>
						<option value="planillero">Planillero</option>
					</select>
				</div>
				<div class="form-group">
					<label for="idCelular">Número de Celular</label>
                    <input type="tel" class="form-control" placeholder="Cuenta de Abono" id="idCelular" value="{{numeroCelular::input}}" />
				</div>
				<div class="form-group">
					<label for="idCorreoElectronico">Correo Electrónico</label>
                    <input type="email" class="form-control" placeholder="Correo Electrónico" value="{{correoElectronico::input}}" id="idCorreoElectronico"/>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group">
                        <button type="button" class="btn btn-success btn-block" on-click="_updateUser">Guardar</button>
                    </div>
                </div>
			</form>
		</div>
	</template>

	<script>
		class MyGestionUsuarios extends Polymer.Element {
			static get is() { return 'my-gestion-usuarios'; }
			
			static get properties() {
                return {
                    headers: {
                        type: Object,
                        value: {"authorization": "Bearer " + sessionStorage.getItem("token")}
                    },
                    codigousuario: {
                        type: String,
                        observer: 'toUpper'
                    },
                    usuarioSeleccionado: {
                        type: String
                    },
                    numeroCelular: {
                        type: String
                    },
                    correoElectronico: {
                        type: String
                    },
                    tipoUsuarioSeleccionado: {
                        type: String
                    }
                }
			}

            _searchUser() {
                console.log(this.codigousuario);
                this.$.buscarUsuario.generateRequest();
            }

            _onSuccessSearch(dataSearch) {
                console.log(dataSearch.detail.response);
                this.tipoUsuarioSeleccionado = dataSearch.detail.response.tipoEmpleado;
                this.usuarioSeleccionado = dataSearch.detail.response.codigo;
                this.numeroCelular = dataSearch.detail.response.celular;
                this.correoElectronico = dataSearch.detail.response.email;
            }

            _updateUser() {
                this.bodyUser = {
					codigoUsuario: this.usuarioSeleccionado,
					numeroCelular: this.numeroCelular,
					correoElectronico: this.correoElectronico,
					tipoUsuarioSeleccionado: this.tipoUsuarioSeleccionado
				}
                console.log(this.bodyUser);
				this.$.actualizarUsuario.generateRequest();
            }

            _successUpdate(dataUpdate) {
                console.log(dataUpdate.detail.response);
                alert(dataUpdate.detail.response.message);
            }

            toUpper(val) {
                this.codigousuario = val.toUpperCase();
            }
		}

		window.customElements.define(MyGestionUsuarios.is, MyGestionUsuarios);
	</script>
</dom-module>