
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./posicion-global/listado-cuentas.html">

<dom-module id="my-posicion-global">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Posición Global</h1>
      <listado-cuentas></listado-cuentas>
    </div>
  </template>

  <script>
    class MyPosicionGlobal extends Polymer.Element {
      static get is() {
        return 'my-posicion-global';
      }
    }

    window.customElements.define(MyPosicionGlobal.is, MyPosicionGlobal);
  </script>
</dom-module>
