<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-transferencias-terceros">
	<template>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style include="shared-styles">
			:host {
				display: block;

				padding: 10px;
			}
		</style>
		<style>
			.card h1 {
				text-align: center;
			}

			.card label {
				color: #212529;
			}
		</style>

		<div class="card">
			<h1>Transferencias a cuentas de Terceros</h1>
			<form>
				<div class="row">
					<div class="col-8">
						<div class="form-group">
							<label for="idImporte">Importe</label>
							<input type="text" class="form-control" placeholder="Importe" id="idImporte" value="{{importeTransferir::input}}" />
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label for="idDivisa">Divisa</label>
							<select class="form-control" id="idDivisa" value="{{divisaImporte::input}}">
								<option value="PEN">Soles</option>
								<option value="USD">Dólares</option>
							</select>
						</div>
					</div>
				</div>
                
                <div class="form-group">
					<label for="idCuentaCargo">Cuenta de Cargo</label>
                    <select class="form-control" id="idCuentaCargo" value="{{cuentaCargoSelect::change}}">
						<option>-- Seleccione una cuenta de Cargo --</option>
						<template id="asd" is="dom-repeat" items="{{listadoCuentasCargo}}" index-as="index">
							<option value="[[item.numero]]">[[item.numero]]-[[item.divisa]]-[[item.saldoDisponible]]</option>
						</template>
					</select>
				</div>
				<div class="form-group">
					<label for="idCuentaAbono">Cuenta de Abono</label>
                    <input type="text" class="form-control" placeholder="Cuenta de Abono" id="idCuentaAbono" value="{{cuentaAbonoSelect::input}}" />
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Referencia</label>
                    <input type="text" class="form-control" placeholder="Referencia" value="{{referenciaTransferencia::change}}" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group">
                        <button type="button" class="btn btn-success btn-block" on-click="_transferir">Transferir</button>
                    </div>
                </div>
			</form>
		</div>
	</template>

	<script>
		class MyTransferenciasTerceros extends Polymer.Element {
			static get is() { return 'my-transferencias-terceros'; }
			
			static get properties() {
                return {
                    headers: {
                        type: Object,
                        value: {"authorization": "Bearer " + sessionStorage.getItem("token")}
                    },
					listadoCuentasCargo: {
                        type: Array,
                        notify: true
                    },
					importeTransferir: {
						type: Number
					},
					divisaImporte: {
						type: String,
						value: "PEN"
					},
					cuentaCargoSelect: {
						type: String
					},
					cuentaAbonoSelect: {
						type: String,
						value: "0011"
					},
				}
			}
		}

		window.customElements.define(MyTransferenciasTerceros.is, MyTransferenciasTerceros);
	</script>
</dom-module>