<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-transferencias-propias">
	<template>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style include="shared-styles">
			:host {
				display: block;

				padding: 10px;
			}
		</style>
		<style>
            .card h1 {
                text-align: center;
            }
			.card label {
                color: #212529;
            }
		</style>
		
		<iron-ajax auto
        id="obtenerListadoCuentas"
        url="http://localhost:3000/api/secure/v1/listadoCuentas?servicioAsociado=3000"
        content-type="application/json"
        headers='[[headers]]'
        handle-as="json"
        method="get"
        on-response="_successListadoCuentas"
        last-response="{{data}}">
		</iron-ajax>
		
		<iron-ajax
        id="realizarTransferenciaPropia"
        url="http://localhost:3000/api/secure/v1/transferenciasPropias/realizacion"
        content-type="application/json"
        headers='[[headers]]'
        handle-as="json"
		method="post"
		body="[[bodyTransf]]"
        on-response="_successTransfer"
        last-response="{{dataTransfer}}">
        </iron-ajax>

		<div class="card">
			<h1>Transferencias a cuentas Propias</h1>
			<form>
				<div class="row">
					<div class="col-8">
						<div class="form-group">
							<label for="idImporte">Importe</label>
							<input type="text" class="form-control" placeholder="Importe" id="idImporte" value="{{importeTransferir::input}}" />
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label for="idDivisa">Divisa</label>
							<select class="form-control" id="idDivisa" value="{{divisaImporte::input}}">
								<option value="PEN">Soles</option>
								<option value="USD">Dólares</option>
							</select>
						</div>
					</div>
				</div>
                
                <div class="form-group">
					<label for="idCuentaCargo">Cuenta de Cargo</label>
                    <select class="form-control" id="idCuentaCargo" on-change="_onChangeAccountCharge" value="{{cuentaCargoSelect::change}}">
						<option>-- Seleccione una cuenta de Cargo --</option>
						<template id="asd" is="dom-repeat" items="{{listadoCuentasCargo}}" index-as="index">
							<option value="[[item.numero]]">[[item.numero]]-[[item.divisa]]-[[item.saldoDisponible]]</option>
						</template>
					</select>
				</div>
				<div class="form-group">
					<label for="idCuentaAbono">Cuenta de Abono</label>
                    <select class="form-control" id="idCuentaAbono" value="{{cuentaAbonoSelect::change}}">
						<option>-- Seleccione una cuenta de Abono--</option>
						<template id="desfd" is="dom-repeat" items="{{listadoCuentasAbono}}" index-as="index">
							<option value="[[item.numero]]">[[item.numero]]-[[item.divisa]]</option>
						</template>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Referencia</label>
                    <input type="text" class="form-control" placeholder="Referencia" value="{{referenciaTransferencia::change}}" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group">
                        <button type="button" class="btn btn-success btn-block" on-click="_transferir">Transferir</button>
                    </div>
                </div>
			</form>
			<div id="idResultadoTransferencia" hidden$="{{resultadoDivHidden}}">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>Tipo de Operación:</td>
							<td>[[resultadoTransferencia.descripcion]]</td>
						</tr>
						<tr>
							<td>Cuenta de Cargo:</td>
							<td>[[resultadoTransferencia.cuentaCargo]]</td>
						</tr>
						<tr>
							<td>Cuenta de Abono:</td>
							<td>[[resultadoTransferencia.cuentaAbono]]</td>
						</tr>
						<tr>
							<td>Importe Transferido:</td>
							<td>[[resultadoTransferencia.monto]] [[resultadoTransferencia.divisaMovimiento]]</td>
						</tr>
						<tr>
							<td>Fecha:</td>
							<td>[[resultadoTransferencia.fecha]]</td>
						</tr>
						<tr>
							<td>Comentarios:</td>
							<td>[[resultadoTransferencia.comentarios]]</td>
						</tr>
						<tr>
							<td>Tipo de cambio aplicado</td>
							<td>[[resultadoTransferencia.tipoCambio]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</template>

	<script>
		class MyTransferenciasPropias extends Polymer.Element {
			static get is() {
				return 'my-transferencias-propias';
			}

			static get properties() {
                return {
                    headers: {
                        type: Object,
                        value: {"authorization": "Bearer " + sessionStorage.getItem("token")}
                    },
					listadoCuentasCargo: {
                        type: Array,
                        notify: true
                    },
					listadoCuentasAbono: {
                        type: Array,
                        notify: true
                    },
					importeTransferir: {
						type: Number
					},
					divisaImporte: {
						type: String,
						value: "PEN"
					},
					cuentaCargoSelect: {
						type: String
					},
					cuentaAbonoSelect: {
						type: String
					},
					referenciaTransferencia: {
						type: String
					},
					resultadoTransferencia: {
						type:Object
					},
					resultadoDivHidden: {
						type: Boolean,
						value: true
					}
                };
            }

			_successListadoCuentas(data) {
                this.listadoCuentasCargo = data.detail.response;
            }

			_onChangeAccountCharge(event) {
				this.listadoCuentasAbono = [];
				this.listadoCuentasCargo.forEach(cuenta => {
					if (event.target.value != cuenta.numero) {
						this.listadoCuentasAbono.push(cuenta);
					}
				});
			}

			_transferir() {
				console.log(this.cuentaCargoSelect);
				this.bodyTransf = {
					cuentaCargo: this.cuentaCargoSelect,
					cuentaAbono: this.cuentaAbonoSelect,
					importe: this.importeTransferir,
					divisaImporte: this.divisaImporte,
					referencia: this.referenciaTransferencia
				}
				this.$.realizarTransferenciaPropia.generateRequest();
			}

			_successTransfer(dataTransfer) {
				console.log(dataTransfer.detail.response);
				this.resultadoTransferencia = dataTransfer.detail.response;
				this.resultadoDivHidden = false;
			}
		}

		window.customElements.define(MyTransferenciasPropias.is, MyTransferenciasPropias);
	</script>
</dom-module>